build/
__debug_bin
tests/cmd/decider/decider

.vscode*

sample-relayer-config.json

# Ginkgo test outputs
main.log
server.log
*.test


# Release build outputs
osxcross/

# Local DB
.icm-relayer-storage/

#Senstive Wallet Info
wallet-info.json

*.DS_Store