name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  solidity-unit-tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install Foundry
        run: ./scripts/install_foundry.sh

      - name: Run Avalanche unit tests
        run: |
          export PATH=$PATH:$HOME/.foundry/bin
          forge test -vvv

      - name: Run Ethereum unit tests
        run: |
          export PATH=$PATH:$HOME/.foundry/bin
          FOUNDRY_PROFILE=ethereum forge test -vvv

  unit_tests:
    name: Unit tests
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run Golang Unit Tests
        run: ./scripts/test.sh
